.nav {
  grid-area: n;
  background-color: rgb(197, 241, 241);
  padding: 20px;
}

.item a {
  color: dodgerblue;
  text-decoration: none;
}

.item a.active {
  font-weight: bold;
  color: blue;
  font-style: italic;
}
